@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin:0;
    padding:0;
    /* box-sizing: border-box; */
    font-family: "Poppins",sans-serif;
}
body{
    max-height: 100vh;
    /* display:flex;
    align-items: center;
    justify-content: center; */
    /* min-height: 100vh; */
    /* background: #fff; */
}
div.bg-img img{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit:cover;
}
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 430px;
    padding:30px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}
.wrapper header{
    color: #6900f2;
    color: black;
    font-size:27px;
    font-weight: 600;
    text-align: center;
}
.wrapper form{
    height: 167px;
    display: flex;
    margin:30px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border:2px dashed #6990f2;
}
.wrapper form.active{
    border:2px solid #6990f2;
}
#submitBtn{
    color:#e9f0ff;
    height: 40px;
    width: 200px;
    background: #6990f2;
}
form:where(i,p){
    color: #6900f2;
}
form i{
    font-size: 50px;
}
form p{
    font-size: 16px;
    margin-top: 15px;
}
section .row{
    background: #e9f0ff;
    background: rgba(255, 255, 255, 0.9);
    /* background: #cfddfa; */
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border-radius: 5px;
}
section .row i{
    /* left:2%; */
    font-size: 25px;
    color:#6900f2;
}
section .details span{
    font-size: 14px;
}
.progress-area{
    max-height: 150px;
    overflow-y: scroll;
    margin-bottom: 10px;
}
.progress-area::-webkit-scrollbar{
    width: 0px;
}
.progress-area .row, .uploaded-area .row{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row; 
}
.progress-area .row .content{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.progress-area .row .content i{
    position: relative;
    left:2%; 
}
.progress-area .row .content .details .name{
    position: absolute;
    font-size: 14px;
    top:3%;
    left:10%;
    font-weight: 570;
}
.progress-area .row .content .details .size{
    font-size: 14px;
    position: absolute;
    bottom:20%;
    left:10%;
    font-weight: 600;
}
.progress-area .row .content .details .percent{
    position: absolute;
    right: 1%;
    bottom: 2%;
    font-weight: 800;
}
.progress-area .row .content .progress-bar{
    position: absolute;
    left:10%;
    bottom:10%;
    height: 6px;
    width: 80%;
    background: rgba(105, 144, 242,0.3);
    /* background-color: black; */
    /* margin-bottom: 4px; */
    border-radius: 30px;
    overflow: hidden;
}
.progress-area .row .content .progress-bar .progress{
    height: 100%;
    width: 90%;
    background: rgb(105, 144, 242);
    border-radius: inherit;
}
.progress-area .row .content .controls{
    position: absolute;
    top:7%; 
    right:3%;
}
.progress-area .row .content .controls [class*="fa-"]{
    cursor: pointer;
    position: relative;
    font-size: 20px;
} 

.uploaded-area{
    max-height: 150px;
    overflow-y: scroll;
}
.uploaded-area::-webkit-scrollbar{
    width: 0px;
}
.uploaded-area .row .content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.uploaded-area .row .details{
    display: flex;
    flex-direction: column;
    /* margin-left: 15px; */
}
.uploaded-area .row .content .details .name{
    position: absolute;
    font-weight: 600;
    top:0;
    left:10%;
}
.uploaded-area .row .content .details .size{
    position: absolute;
    font-weight: 600;
    left: 10%;
    bottom: 10%;
}

/* .uploaded-area .details .size{
    font-size: 11px;
    color: #404040;
} */
.uploaded-area .row .content i{
    position: relative;
    left:2%; 
}
.uploaded-area .row .content .controls{
    position: absolute;
    right:3%;
}
.uploaded-area .row .content .controls .fa-check{
    position: relative;
    right: 0;
    font-size: 16px;
    color: #6900f2;
}



/* newww */
body {
	/* display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column; */
	background: #e9ecee;
}

button {
	outline: none;
	background: none;
	border: none;
	cursor: pointer;
}

.upload-btn {
	background: #607D8B;
	color: #fff;
	border-radius: 5px;
	padding: 15px 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}

.upload-progress-tracker {
	background: #ffffff linear-gradient(45deg, #f4edff, #efffef) left center/100% 100% no-repeat;
	width: 400px;
	border-radius: 10px;
	box-shadow: 0 5px 35px #cdcdcd;
	padding: 25px;
	color: #565252;
	position: relative;
	margin: 50px 0;
	transition: background 0.3s ease;
}

.upload-progress-tracker h3 {
	margin: 0;
	font-size: 1em;
	font-weight: normal;
	color: #222;
}

.upload-progress-tracker .upload-progress {
	margin: 10px 0 0;
	font-size: 0.8em;
	color: #617e8c;
}

.upload-progress-tracker .upload-progress span {
	width: 30px;
	padding-right: 15px;
}

.upload-progress-tracker .upload-progress span.success-count {
	margin-left: 10px;
	background: url("./assets/completed-indicator.svg") 5px 100%/100% 100% no-repeat;
}

.upload-progress-tracker .upload-progress span.failed-count {
	background: url("./assets/failed-indicator.svg") 5px 100%/100% 100% no-repeat;
}

.upload-progress-tracker .upload-progress span.paused-count {
	background: url("./assets/paused-indicator.svg") 5px 100%/100% 100% no-repeat;
}

.upload-progress-tracker .maximize-btn {
	position: absolute;
	right: 25px;
	top: 35px;
	width: 20px;
	height: 20px;
	overflow: hidden;
	text-indent: 9999999px;
	background: url("./assets/expand.svg") center center no-repeat;
	opacity: 0.8;
	transition: opacity 0.3s ease;
}

.upload-progress-tracker .maximize-btn.expanded {
	background: url("./assets/collapse.svg") center center no-repeat;
}

.upload-progress-tracker .maximize-btn:hover {
	opacity: 1;
}

.upload-progress-tracker .uploads-progress-bar {
	position: absolute;
	left: 0;
	top: 85px;
	height: 2px;
	background: #607D8B;
	opacity: 1;
	transition:
			width 0.3s ease,
			opacity 0.3s ease;
}

.upload-progress-tracker.expanded .uploads-progress-bar {
	opacity: 0;
}

.upload-progress-tracker.expanded {
	background: #fff;
}

.upload-progress-tracker .file-progress-wrapper {
	height: 0;
	opacity: 0;
	overflow: hidden;
	transition:
			height 0.3s ease,
			opacity 0.3s ease;
	border-top: 1px solid #ddd;
	margin-top: 15px;
}

.upload-progress-tracker.expanded .file-progress-wrapper {
	height: auto;
	opacity: 1;
}

.upload-progress-tracker .file-progress {
	display: flex;
	align-items: center;
	width: 100%;
}

.upload-progress-tracker .file-progress .file-details {
	flex: 1;
	margin: 5px 5px 5px 0;
}

.upload-progress-tracker .file-progress .file-details p {
	padding-right: 30px;
	position: relative;
	align-items: center;
	font-size: 0.8em;
	height: 25px;
	color: #565656;
	margin: 10px 0;
}

.upload-progress-tracker .file-progress .file-details p .file-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
	margin-top: 4px;
	display: inline-block;
	flex: 1;
	/* 40px off because file status takes max 35px wide plus 5 of gap */
	max-width: calc(100% - 40px);
}

.upload-progress-tracker .file-progress .file-details p .file-ext {
	margin-top: 4px;
}

.upload-progress-tracker .file-progress .file-details p .status {
	overflow: hidden;
	text-indent: -9999999px;
	height: 20px;
	width: 20px;
	margin-right: 10px;
	float: left;
}

.upload-progress-tracker .file-progress .file-details p .status.uploading {
	text-indent: unset;
	width: 35px;
	position: absolute;
	right: 0;
	top: 5px;
	text-align: right;
	margin-right: 0;
}

.upload-progress-tracker .file-progress .file-details p .status.failed {
	background: url("./assets/failed.svg") center center/100% 100% no-repeat;
}

.upload-progress-tracker .file-progress .file-details p .status.completed {
	background: url("./assets/completed.svg") center center/100% 100% no-repeat;
}

.upload-progress-tracker .file-progress .file-details p .status.paused {
	background: url("./assets/paused-indicator.svg") center center/100% 100% no-repeat;
	right: auto;
	left: 0;
}

.upload-progress-tracker .file-progress .file-details::after {
	content: '';
	width: 100%;
	height: 2px;
	background: #ddd;
	display: block;
	position: absolute;
	bottom: 5px;
	left: 0;
	z-index: 1;
}

.upload-progress-tracker .file-progress .file-details .progress-bar {
	height: 2px;
	background: #607D8B;
	position: absolute;
	bottom: 5px;
	left: 0;
	z-index: 2;
}

.upload-progress-tracker .file-progress .file-actions {
	min-width: 45px;
	display: flex;
	justify-content: center;
}

.upload-progress-tracker .file-progress .file-actions button {
	height: 50px;
	text-align: center;
	padding: 36px 0 0;
	font-size: 0.7em;
	color: #607D8B;
	width: 40px;
	min-width: 40px;
	margin-left: 5px;
}

.upload-progress-tracker .file-progress .file-actions button.clear-btn {
	background: url("./assets/clear.svg") center 42%/20px 20px no-repeat;
}
.upload-progress-tracker .file-progress .file-actions button.retry-btn {
	background: url("./assets/retry.svg") center 42%/20px 20px no-repeat;
}
.upload-progress-tracker .file-progress .file-actions button.cancel-btn {
	background: url("./assets/paused.svg") center 42%/20px 20px no-repeat;
}
.upload-progress-tracker .file-progress .file-actions button.resume-btn {
	background: url("./assets/resume.svg") center 42%/20px 20px no-repeat;
}
